body {
  margin: 0;
  background: #F7CF79;
}

#header {
  margin: 0;  
  background: red;
  padding: 2em;
  color: #F7CF79;
}

#header h1 {
  margin: 0;
  padding: 0.5em 0;
  color: yellow;
}

#content {
  margin: 0 auto;
  max-width: 700px;
  text-align: center;
}

.authorButton {
  padding: 15px 20px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
  -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
  box-shadow: rgba(0,0,0,1) 0 1px 0;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  font-size: 22px;
  font-family: Helvetica, Arial, Sans-Serif;
  text-decoration: none;
  vertical-align: middle;
  display: inline-block;
  text-align: center;
  min-width: 1em;
  max-width: 2.5em;
  margin: 1em;
  border-top: 1px solid #F58E92;
  background: #4a74a1;
  background: -webkit-gradient(linear, left top, left bottom, from(#8A0F1C), to(#A14A53));
  background: -webkit-linear-gradient(top, #8A0F1C, #A14A53);
  background: -moz-linear-gradient(top, #8A0F1C, #A14A53);
  background: -ms-linear-gradient(top, #8A0F1C, #A14A53);
  background: -o-linear-gradient(top, #8A0F1C, #A14A53);
  color: white;
}

.authorButton:hover, .authorButton-clicked {
  border-top-color: #002252;
  background: #002252;
  color: #ccc;
}
.authorButton:active {
  border-top-color: #023957;
  background: #023957;
}

textarea {
  width: auto;
  max-width: 100%;
  margin: 2em 0;
  height: auto;
}

.loremOptions .parOptions label{
  display: inline-block;
  width: 220px;
}

img {
  max-width: 100%;
}
